main {
  border: 1px solid magenta;
  display: grid;
  grid-gap: 0.5rem;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  padding: 0.5rem;
}

.game {
  border: 1px solid green;
  display: grid;
  grid-gap: 0.5rem;
  grid-template-columns: 1fr 1fr;
}