main {
  border: 1px solid magenta;
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  padding: 0.5rem;
}

.game {
  align-items: center;
  border: 1px solid green;
  display: flex;
  font-size: small;
  height: 20vh;
  justify-content: center;
  width: 20vh;
}